<%- include("templates/header", {title:'Pets'}) %>

    <div class="container">
        <h1>CRUD Pets MongoDB</h1>
        <a href="pets/create" class="btn btn-primary btn-block my-4">Create new pet</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Pet ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (pets.length > 0) { %>
                    <% pets.forEach(pet => { %>

                        <tr>
                            <th scope="row">
                                <%= pet.id %>
                            </th>
                            <td>
                                <%= pet.name %>
                            </td>
                            <td>
                                <%= pet.description %>
                            </td>
                            <td>
                                <a href="pets/<%= pet.id %>" class="btn btn-warning">Edit</a>
                                <btn data-id="<%= pet.id %>" class="btn btn-danger btnDelete">Delete</btn>
                            </td>
                        </tr>

                        <% }) %>
                            <% } %>
            </tbody>
        </table>
    </div>

    <script>
        const buttonsDelete = document.querySelectorAll(".btnDelete")
        buttonsDelete.forEach(btn => {
            btn.addEventListener('click', async(event) => {
                try {
                    const data = await fetch(`/pets/${event.srcElement.dataset.id}`, {
                        method: 'delete'
                    })
                    const res = await data.json()
                    if (res.state) {
                        window.location.href = '/pets'
                    } else {
                        console.log(res)
                    }
                } catch (error) {
                    console.log(error)
                }
            })
        });
    </script>

    <%- include("templates/footer") %>